asgiref==3.11.1
autocommand==2.2.2
backports.tarfile==1.2.0
certifi==2026.2.25
charset-normalizer==3.4.6
Django==6.0.2
django-extensions==4.1
django-jazzmin==3.0.2
idna==3.11
importlib_metadata==8.7.1
jaraco.context==6.1.0
jaraco.functools==4.4.0
jaraco.text==4.0.0
more-itertools==10.8.0
packaging==26.0
pillow==12.1.0
pip-chill==1.0.3
platformdirs==4.4.0
psycopg2-binary==2.9.11
python-decouple==3.8
reportlab==4.4.10
requests==2.33.0
sqlparse==0.5.5
tomli==2.4.0
urllib3==2.6.3
zipp==3.23.0
